*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

.navbar{
    height: 60px;
    
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo{
    height: 54px;
    width: 113px;
}


/** Box 01 **/

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 54px;
    width: 100%;
    
}


.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/** Box 02 **/


.add-first{
    color: #ccc;;
    font-size: 0.85rem;
    margin-left: 15PX;
}

.add-second{
    font-size: 1rem;
    margin: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** Box 03 **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}

.nav-search:hover{
    background-color: rgb(158, 103, 0);
    

}

.search-select{
    background-color: rgb(211, 211, 211);
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;


}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:hover{
    background-color: rgb(158, 103, 0);
    
}

/** Box 04 **/

span{
    font-size: 0.7rem;
}

.nav-second{
    font: 0.8rem;
    font-weight: 700;

}

.nav-checkout i {
    font-size: 30px;
}

.nav-checkout{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box 04 **/
.panel{
    height: 40px;
    background-color: #222F3D;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    color: aliceblue;
    margin-left: 10px;
}

.panel-ops{
    width: 90%;
    font-size: 0.9rem;
    font-weight: 700;

}


/** Hero Section **/

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

.hero-msg:hover {
    -moz-box-shadow: 0px 0px 5px #1e1e1e; 
    -webkit-box-shadow: 0px 0px 5px #1e1e1e; 
    box-shadow: 0px 0px 5px #1e1e1e;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.hero-msg{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
    

}

.hero-msg a {
    color: #007185;
}



/** Sjop Sectiom **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
    padding:15px 9%;
    padding-bottom: 100px;
    
}
.shop-section h2{
    margin-top: 10px;
    flex-wrap: wrap;
}


.box{
    height: 25rem;
    display: grid;
    flex-wrap: wrap;
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin: 10px;
    background-color: #ccc;
    gap:15px;
    


    
    background-color: white;
    margin-top: 15px;
    
    
    
}

@media screen and (max-width: 768px) {
    .box {
        width: calc(100% - 20px);
    }
}




.box:hover{
    -moz-box-shadow: 0px 0px 5px #1e1e1e; 
    -webkit-box-shadow: 0px 0px 5px #1e1e1e; 
    box-shadow: 0px 0px 5px #1e1e1e;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.box1-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}


.box-content p{
    color: #007185;
    
}

.box-content p:hover{
    text-decoration: underline;
    
}



/** Footer **/


.foot-pannel-1{
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.foot-pannel-1 :hover{
    
    
    -moz-box-shadow: 0px 0px 5px #1e1e1e; 
    -webkit-box-shadow: 0px 0px 5px #1e1e1e; 
    box-shadow: 0px 0px 5px #1e1e1e;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
    

}

.foot-pannel-2{

    background-color: #222F3D;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;



}
ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddd;
    

}
ul a:hover {
    
    color: rgb(255, 255, 255);
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    

}

ul p {
    font-weight: 700;
    transition: font-size 0.3s;
    transition: text-shadow 0.5s;
    


}

ul p:hover {
    
    
  text-shadow: 5px 5px 10px #6487e6;
  text-decoration: wavy;
  font-size: 1.2em;

}




.footer-pannel3 {
    background-color: #222F3D;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 54px;
    width: 100px;
    
}

.foot-pannel4 {
    background-color: #18222d;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}

.foot-options {
    
    padding-top: 25px;
}

.copyright{

    padding-top: 5px;

}
